<!doctype html>
<html lang="en" ng-app="QuickSight">
<head>
    <meta charset="UTF-8">
    <title>Quick Sight</title>

    <!-- JS -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/styles.css"> <!-- custom styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans" type='text/css'>
</head>
<body ng-controller="DeveloperController">
	<h1>DEV ACCESS ONLY</h1>
    <div id="base"></div>
    <img id="inputImg" src="" width="100px"/>
    <input type='file' id="inputFile" />
    <button class="btn btn-default col-xs-1" ng-click="upload()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <div id="uploadResponse">{{confirmMsg}}</div>

    <!--POST LOAD-->
    <!-- JS -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/developerAccess.js"></script>
</body>
</html>