<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Sight</title>

    <!-- JS -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/styles.css"> <!-- custom styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans" type='text/css'>
</head>
<body>
	<h1>DEV ACCESS ONLY</h1>
</body>
</html>