<!-- public/views/game.html -->
<div class="blurArea" ng-controller="GameController">
    <h3>Welcome, {{userData.name}}!</h3>

    <ul class="nav nav-pills">
        <li role="presentation" class="active" ng-repeat="imageGroup in images">
            <a ui-sref="game.{{imageGroup.category}}">{{imageGroup.category}}</a>
        </li>
    </ul>
    
    <!--NESTED VIEW-->
    <div ui-view></div>
    <button class="btn" ng-click="confirmImageSet()">Confirm</button>
    <div class="row">
        <div class="col-custom">
            <img id="{{imageSet.pictureName}}" 
            ng-repeat="imageSet in scp_userData.imageSet"
            ng-src="{{imageSet.base64}}" 
            alt="Description" ng-click="removeItem($event)" class="img-circle" width="110px"/>
        </div>
    </div>
    <div>
        <h2>Remember these pictures for the game!</h2>
    </div>
</div>
