<!-- public/views/game.html -->
<div class="blurArea" ng-controller="GameController">
    <h1 class="superLarge" style="color:white; margin:0 auto;"> Game Page </h1>
    <h3>Welcome, {{userData.name}}!</h3>

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a ui-sref="game.animals" background-color="d1d1d1" colr>
            <span class="glyphicon glyphicon-eye-open"></span> 
            Animals</a></li>
        <li role="presentation" class="active"><a ui-sref="game.places">
            <span class="glyphicon glyphicon-plane"></span> 
            Places</a></li>
        <li role="presentation" class="active"><a ui-sref="game.sports">
            <span class="glyphicon glyphicon-bullhorn"></span> 
            Sports</a></li>
        <li role="presentation" class="active"><a ui-sref="game.random">
            <span class="glyphicon glyphicon-sunglasses"></span> 
            Random</a></li>
    </ul>

    <!--NESTED VIEW-->
    <div ui-view></div>
    <button class="btn" ng-click="confirmImageSet()">Confirm</button>
    <div class="row">
        <div class="col-custom">
            <img id="{{imageSet}}" 
            ng-repeat="imageSet in userimageSet.userimageSet"
            ng-src="Views/projectPics/{{imageSet}}" 
            alt="Description" ng-click="removeItem($event)" class="img-circle" width="100px" height="100px"/>
        </div>
    </div>
    <div>
        <h2>Remember these pictures for the game!</h2>
    </div>
</div>