<!-- public/views/home.html -->
<div ng-controller="MainController">
  <div class="mainContent blurArea">
    <h1 class="superLarge">Quick Sight</h1>
    <h4>
        Welcome to Quick Sight! Please fill out the forms below
        so that we may better understand our player base. After that
        you can proceed on to the image selection.
    </h4>

    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Name: </label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="userData.name" ng-maxlength="20" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Age: </label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="userData.age" ng-maxlength="2" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-4 control-label">Gender: </label>
                <div class="col-sm-2">
                    <select name="genderSelect" class="form-control" ng-model="userData.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>   
                </div>
                <button class="btn btn-default col-xs-1" ng-click="submit()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
        <form>
    </div>

  </div>
</div>