<!-- public/views/home.html -->
<div class="mainContent blurArea">
  <h1 class="superLarge">Quick Sight</h1>
  <h4>
      Welcome to Quick Sight! Please fill out the forms below
      so that we may better understand our player base. After that
      you can proceed on to the image selection.
  </h4>
  <label>Name: <input type="text" ng-model="userData.name" ng-maxlength="20" /></label>
  <label>Age: <input type="text" ng-model="userData.age" ng-maxlength="2" /></label>
  <label>Gender: </label>
  <select name="genderSelect" ng-model="userData.gender">
      <option value="option-1">Male</option>
      <option value="option-2">Female</option>
  </select>
  <button class="btn" ng-click="submit()">Submit</button>
</div>