<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>QuickSight</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="./Stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
    <!-- SPELLS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./Scripts/core.js"></script>
</head>
<body ng-controller="infoController", ng-app="QuickSight">
    <div class="blurArea">
        <h3>Welcome to the Info Page</h3>
        <h4>Developers: </h4>
        <ul ng-repeat="developer in developers">
            <li>{{ developer.name }}</li>
        </ul>
        <a id="githubLink" href="https://github.com/MajorGrits/Group4-IPP.git">Github</a>
    </div>
</body>
<footer>
    <div class="blurArea">
        <div layout="row" layout-align="center center">
            <a id="homeLink" href="\">Home</a>
            <a id="infoLink" href="info">Info Page</a>
            <a id="hscoresLink" href="hscores">High Scores</a>
        </div>
    </div>
</footer>
</html>
