<!-- public/views/playGame.html -->
<div class="blurArea" ng-controller="PlayGameController"  ng-init="randomizePictureSet()">
    <h2>Play Game Page</h2>
    <h4>Welcome, {{userStuff.name}}!</h4>
    <div>
	    <p>Press the button to begin!</p>
	    <button class="btn" ng-click="startTimer()">Begin</button>
        <p>Time Remaining: {{timeRemaining}}</p>
	</div>

    <div class="row">
        <div class="col-custom">
            <img id="{{imageSet}}" 
            ng-repeat="imageSet in userStuff.imageSet"
            ng-src="Views/projectPics/{{imageSet}}" 
            alt="Description" class="img-circle" width="100px" height="100px"/>
        </div>
    </div>

    <div class="row">
        <div class="col-custom">
        </div>
    </div>

    <div id="score">Total Score: {{ userScore }}</div>
    <div id="gameLevel">Level: </div>
</div>