<!-- public/views/playGame.html -->
<div class="blurArea" ng-controller="PlayGameController"  ng-init="randomizePictureSet()">
    <h4>Welcome, {{userStuff.name}}!</h4>
    <div>
        <h1 id="timerMsg">Time Remaining: {{timeRemaining}}</h1>
        <button class="btn" ng-click="startTimer()">Begin</button>
	</div>

    <div id="gameImagesRow"class="row">
        <div id="flexibleGrid" class="col-custom">
            <img id="{{imageSet}}" 
            ng-repeat="imageSet in randomImageSet track by $index"
            ng-src="views/projectPics/{{imageSet}}"
            ng-click="selectImg($event);"
            alt="Description" class="img-circle" width="{{newImgSize}}"/>
        </div>
    </div>

    <div>Total Score: {{userScore}} Level: {{currentLevel}}</div>
    <div>Image Streak: {{imageStreak}}</div>
	
	<button id="gameOverBtn" class="btn btn-default hidden" ng-click="reviewGame()">REVIEW MY GAME</button>
	<button id="nextLevelBtn" class="btn btn-default hidden" ng-click="nextLevel()">NEXT LEVEL</button>
</div>
