/* Styles go here */
a {
  color:white;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    height: auto;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-size: 22px;
    background-image: url('blurFull.jpg');
    background-size: cover;
}

.btn {
  background: #d1d1d1;
  color: #000000;
}

.blurBackground {     
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
}

.btn:hover {
  background: #262626;
  color: #ffffff;
}

.blurArea{
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(10, 10, 10); /* for IE */
  background: rgba(10, 10 ,10 ,0.75);
  color: white;
}

.col-custom {
    position: relative;
    float: none;
    min-height: 1px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.superLarge{
  font-size: 72px;
} 

#wrapper{
  min-height: 100%;
  position: relative;
  z-index: 10;
}

#content{
  padding-top: 75px;
  text-align: center;
  width: 100%;
  position: absolute;
}

#footer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

table, th, td{
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd){
  background-color: #C2C2C2;
}

table tr:nth-child(even){
  background-color: #616161;
}

ul {
  padding-left: 0;
}

img{
  padding: 2px;
  height: 100px;
  width: 100px;
}

.nav-pills > li{
  float: none;
  display: inline-block;
  padding: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #d1d1d1;
  color: #000000;
}

img:hover{
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc; 
}

ul li{
    list-style-position:inside;
}