<!DOCTYPE html>

<html ng-app="QuickSight">
    <head>
        <meta charset="utf-8" />
        <title>QuickSight</title>

        <!--Stylesheet-->
        <link rel="stylesheet" href="./Stylesheets/styles.css">

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
        <script src="Scripts/core.js"></script>

    </head>
    <body>
        <p> Base Page </p>
        <!--The html isn't being injected currently 09/28/2015 - Casey-->
        <div ng-view></div>
    </body>
</html>