<!DOCTYPE html>

<html ng-app="QuickSight">
<head>
    <meta charset="utf-8" />
    <title>High Scores</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="./Stylesheets/styles.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="Scripts/core.js"></script>
</head>
<body ng-controller="hscoresController">

    <h1> High Scores </h1>
    <table>
        <tr ng-repeat="x in highscoresTESTONLY">
            <td>{{ x.name }}</td>
            <td>{{ x.score }}</td>
        </tr>
    </table>

</body>
</html>