<!DOCTYPE html>

<html ng-app="QuickSight">
<head>
    <meta charset="utf-8" />
    <title> Info </title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="./Stylesheets/styles.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./Scripts/core.js"></script>

</head>
<body ng-controller="infoController">
    <h3>Welcome to the Info Page</h3>
    <h4>Developers: </h4>
    <p ng-repeat="x in developers"> {{ x.name}}</p>
</body>
</html>